/* https://fonts.google.com/specimen/Acme?query=acme */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* https://fonts.google.com/specimen/Exo?query=exo */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

.chessboard {
    display: grid;
    justify-content: center;
  
    padding-top: 5%;
  
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
  }
  
  .box {
    font-size: 40px;
    text-align: center;
  }
  
  .white {
    background-color: white;
  }
  
  .black {
    background-color: lightgrey;
  }

  .red {
    background-color: red;
  }

  h1 {
    text-align: center;
    font-family: 'Acme', sans-serif;
  }

  h2 {
    font-family: 'Acme', sans-serif;
  }

  p {
    font-family: 'Exo', sans-serif;
  }
